# Python Datatypes

## Data types in Python tell us what kind of value we are dealing with, like a number, text, list, or something else.

It helps Python understand:

How to store the value

What kind of operations we can perform on it

## Common Datatypes in Python

| Data Type | Description                     | Example                   |
| --------- | ------------------------------- | ------------------------- |
| `int`     | Whole numbers                   | `5`, `-10`, `100`         |
| `float`   | Decimal numbers                 | `3.14`, `-0.5`, `99.99`   |
| `str`     | Text (strings)                  | `"Hello"`, `'Manchan'`    |
| `bool`    | Boolean (True or False)         | `True`, `False`           |
| `list`    | Ordered group of items          | `[1, 2, 3]`, `['a', 'b']` |
| `tuple`   | Ordered & unchangeable items    | `(1, 2)`, `('x', 'y')`    |
| `dict`    | Key-value pairs                 | `{'name': 'Manchan'}`     |
| `set`     | Unordered group of unique items | `{1, 2, 3}`               |

In [6]:
a=5 #class
b=3.5 #foat
c="Manchan" #str
d=True #boolean
e=[1,2,3,4,5,6],['a','b'] #list
f=(1,2,3,4,5)#tuple
g={'student':'Manchan'}#dict
h={4,5,6}#set

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'tuple'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

# Numerical operations

## Numerical operations in python helps us to add,subtract,divide,multiply etc.

In [9]:
s=5
g=7
print(s+g)
print(s-g)
print(s*g)
print(s/g)
print(s//g)
print(s**g)

12
-2
35
0.7142857142857143
0
78125

# String Operations
## Strings are super versatile, and you can do a lot with them. Here are the most common operations:

### 1. Concatenation (Joining Strings)
Use the + operator to join two or more strings.

In [11]:
a="Hello"
b="My name is Manchan Rana Magar"
print(a +" "+b)

Hello My name is Manchan Rana Magar

## We use " " between two strings to provide a space between two string. If we do not provide " " between the strings the strings will get combined without any spcace between them.for Example:

In [12]:
a="YO"
b="WASSUP"
print("a+b")

a+b

## Now lets try with " " Between the strings.

In [14]:
a="YO"
b="WASSUP"
print(a+" "+b)

YO WASSUP

### 2.Repetation
Repeats a string multiple times.

In [15]:
Name="Manchan"
print(Name*3)

ManchanManchanManchan

### 3. Changing Case
Python has handy methods to change the case of strings:

.lower() → converts all letters to lowercase

.upper() → converts all letters to uppercase

.capitalize() → capitalizes the first letter only

In [17]:
Name="MaNChan"
print(Name.lower())
print(Name.upper())
print(Name.capitalize())

manchan
MANCHAN
Manchan

### 4.Finding Length of a String
Use the built-in function len() to find out how many characters are in a string (including spaces).

In [18]:
Name="Manchan Rana Magar"
print(len(Name))

18

###  5.Split
The .split() method breaks a string into a list of smaller strings, usually splitting at spaces.

In [20]:
Name="Manchan Rana Magar"
word=Name.split()
print(word)

['Manchan', 'Rana', 'Magar']

### 6.Strip
The .strip() method removes any extra whitespace (spaces, tabs, newlines) from the start and end of a string.

In [26]:
Name="  Manchan  "
print(Name.strip())

Manchan

In [24]:
text = "   Hello World!   "
print(text.strip())  # Output: Hello World!

Hello World!

### 7. .replace(old, new)
What it does:
Replaces part of a string (the old value) with a new value

In [39]:
Word="This is Graphics Designing"
newword= Word.replace("Graphics","Data").replace("Designing","Science")
print(newword)

This is Data Science

# Sequence Types: Lists and Tuples
### Definition:
Sequences are ordered collections of items.

Lists are mutable sequences (you can change, add, or remove elements).

Tuples are immutable sequences (once created, their contents cannot be changed).

Both store elements in order and allow indexing, slicing, and iteration.

## 1. List
Defined with square brackets [ ]

Can contain elements of any data type

Supports modification (add, remove, change elements)

In [1]:
fruits = ["apple", "banana", "cherry"]

# Access
print(fruits[1])  # banana

# Modify
fruits[0] = "mango"
print(fruits)  # ['mango', 'banana', 'cherry']

# Add element
fruits.append("orange")
print(fruits)  # ['mango', 'banana', 'cherry', 'orange']

# Remove element
fruits.remove("banana")
print(fruits)  # ['mango', 'cherry', 'orange']

banana
['mango', 'banana', 'cherry']
['mango', 'banana', 'cherry', 'orange']
['mango', 'cherry', 'orange']

# Question
## Write a Python program that:

Creates a list of your favorite footballers (at least 5 names).

1.Prints the entire list.

2.Adds a new footballer to the list.

3.Removes one footballer from the list.

4.Prints the updated list.

5.Prints the first and last footballer from the list using indexin

In [9]:
footballers =["Ronaldo","Messi","Neymar","Kroos","Modric"]
print (footballers)
footballers.append("mbappe")
print(footballers)
footballers.remove("Messi")
print(footballers)
print(footballers[0],footballers[4])

['Ronaldo', 'Messi', 'Neymar', 'Kroos', 'Modric']
['Ronaldo', 'Messi', 'Neymar', 'Kroos', 'Modric', 'mbappe']
['Ronaldo', 'Neymar', 'Kroos', 'Modric', 'mbappe']
Ronaldo mbappe

# Question


## Write a Python program that does the following:

* Create a list of 6 football players (you choose).
* Sort the list alphabetically.
* Insert a new player at position 2 (index 1).
* Remove the last player using `pop()`.
* Add one player name that’s already in the list (a duplicate).
* Count how many times that player appears.
* Print the final list and the count.

**Bonus:**

* Print the index of a specific player (e.g., `"Messi"`) if they’re in the list.

---

In [24]:
footballers =["Ronaldo","Messi","Kylian","Drogba","Torres","Ramos"]
footballers.sort()
print (footballers)
footballers.insert(4,"Haaland")
print(footballers)
Last=footballers.pop()
print(footballers)
footballers.append("Ronaldo")
print(footballers)
print("The number of times ronaldo appear is:",footballers.count("Ronaldo"))
print(footballers.count)

['Drogba', 'Kylian', 'Messi', 'Ramos', 'Ronaldo', 'Torres']
['Drogba', 'Kylian', 'Messi', 'Ramos', 'Haaland', 'Ronaldo', 'Torres']
['Drogba', 'Kylian', 'Messi', 'Ramos', 'Haaland', 'Ronaldo']
['Drogba', 'Kylian', 'Messi', 'Ramos', 'Haaland', 'Ronaldo', 'Ronaldo']
The number of times ronaldo appear is: 2
<built-in method count of list object at 0x00000238FC656900>

# Tuples

## A tuple is an ordered, immutable sequence of items. Unlike lists, once a tuple is created, you cannot change, add, or remove its elements. Tuples are defined with parentheses () and are great for fixed collections of data.

### Why use tuples?
Safer: Prevent accidental changes

Can be used as keys in dictionaries (unlike lists)

Slightly faster than lists

In [25]:
# Creating a tuple of footballers
footballers = ("Ronaldo", "Messi", "Neymar", "Kroos")

print(footballers)       # ('Ronaldo', 'Messi', 'Neymar', 'Kroos')
print(footballers[1])    # Messi

# Trying to change an element will cause error:
# footballers[2] = "Mbappe"   # TypeError: 'tuple' object does not support item assignment

# You can unpack tuples:
a, b, c, d = footballers
print(a, b, c, d)  # Ronaldo Messi Neymar Kroos

('Ronaldo', 'Messi', 'Neymar', 'Kroos')
Messi
Ronaldo Messi Neymar Kroos

# 2. Mapping Type (Dictionary)

## dict stores key-value pairs, like a real-world dictionary.

## Keys must be unique and immutable.

In [1]:
my_dict = {"name": "Manchan", "age": 17}
print(my_dict["name"])  # Manchan
my_dict["age"] = 18     # Update value

Manchan

In [4]:
Book ={"title":"Onepiece",
       "author":"Oda",
       "year":"1998"}
for key in Book:
    print(key,":",Book[key])

title : Onepiece
author : Oda
year : 1998

In [6]:
student = {
    "name": "Manchan",
    "age": "17",
    "subjects": ["Math", "science", "English"]
}

for key in student:
    if key == "subjects":
        print(key, ":",)
        for subject in student[key]:
            print("-", subject)
    else:
        print(key, ":", student[key])

name : Manchan
age : 17
subjects :
- Math
- science
- English

# Set



🔹 What is a Set?
A set is an unordered collection of unique elements.

It does not allow duplicates.

Useful for checking membership, removing duplicates, and doing math-like operations (union, intersection).

In [7]:
my_set = {1, 2, 3, 2, 1}
print(my_set)  # Output: {1, 2, 3} — duplicates removed automatically

{1, 2, 3}

## Creating a set

In [8]:
empty_set = set()       # Empty set (can't use {} because that's a dict)
fruits = {"apple", "banana", "orange"}

# Quick code demo

In [9]:
A = {1, 2, 3}
B = {2, 3, 4}

print("Union:", A | B)           # {1, 2, 3, 4}
print("Intersection:", A & B)    # {2, 3}
print("Difference:", A - B)      # {1}

Union: {1, 2, 3, 4}
Intersection: {2, 3}
Difference: {1}

# 1.Boolean Type

Represents True or False values.

Useful for conditions, flags, and controlling program flow.

In [11]:
is_raining = True
is_sunny = False

print(type(is_raining))  # <class 'bool'>

# Using boolean in condition
if is_raining:
    print("Take an umbrella!")
else:
    print("No umbrella needed.")

<class 'bool'>
Take an umbrella!

# 2.Byte Type

Represents immutable sequences of bytes (numbers from 0 to 255).

Useful when dealing with binary data like files, network packets, or encryption.

In [13]:
# Creating a bytes object
b = b"hello"
print(b)                # b'hello'
print(type(b))          # <class 'bytes'>

# Accessing bytes (returns integer)
print(b[0])             # 104 (ASCII for 'h')

# Convert string to bytes
s = "hello"
b2 = s.encode('utf-8')  # Convert string to bytes
print(b2)               # b'hello'

# Convert bytes back to string
s2 = b2.decode('utf-8')
print(s2)               # hello

b'hello'
<class 'bytes'>
104
b'hello'
hello