# Python Datatypes

## Data types in Python tell us what kind of value we are dealing with, like a number, text, list, or something else.

It helps Python understand:

How to store the value

What kind of operations we can perform on it

## Common Datatypes in Python

| Data Type | Description                     | Example                   |
| --------- | ------------------------------- | ------------------------- |
| `int`     | Whole numbers                   | `5`, `-10`, `100`         |
| `float`   | Decimal numbers                 | `3.14`, `-0.5`, `99.99`   |
| `str`     | Text (strings)                  | `"Hello"`, `'Manchan'`    |
| `bool`    | Boolean (True or False)         | `True`, `False`           |
| `list`    | Ordered group of items          | `[1, 2, 3]`, `['a', 'b']` |
| `tuple`   | Ordered & unchangeable items    | `(1, 2)`, `('x', 'y')`    |
| `dict`    | Key-value pairs                 | `{'name': 'Manchan'}`     |
| `set`     | Unordered group of unique items | `{1, 2, 3}`               |

In [6]:
a=5 #class
b=3.5 #foat
c="Manchan" #str
d=True #boolean
e=[1,2,3,4,5,6],['a','b'] #list
f=(1,2,3,4,5)#tuple
g={'student':'Manchan'}#dict
h={4,5,6}#set

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'tuple'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

# Numerical operations

## Numerical operations in python helps us to add,subtract,divide,multiply etc.

In [9]:
s=5
g=7
print(s+g)
print(s-g)
print(s*g)
print(s/g)
print(s//g)
print(s**g)

12
-2
35
0.7142857142857143
0
78125

# String Operations
## Strings are super versatile, and you can do a lot with them. Here are the most common operations:

### 1. Concatenation (Joining Strings)
Use the + operator to join two or more strings.

In [11]:
a="Hello"
b="My name is Manchan Rana Magar"
print(a +" "+b)

Hello My name is Manchan Rana Magar

## We use " " between two strings to provide a space between two string. If we do not provide " " between the strings the strings will get combined without any spcace between them.for Example:

In [12]:
a="YO"
b="WASSUP"
print("a+b")

a+b

## Now lets try with " " Between the strings.

In [14]:
a="YO"
b="WASSUP"
print(a+" "+b)

YO WASSUP

### 2.Repetation
Repeats a string multiple times.

In [15]:
Name="Manchan"
print(Name*3)

ManchanManchanManchan

### 3. Changing Case
Python has handy methods to change the case of strings:

.lower() → converts all letters to lowercase

.upper() → converts all letters to uppercase

.capitalize() → capitalizes the first letter only

In [17]:
Name="MaNChan"
print(Name.lower())
print(Name.upper())
print(Name.capitalize())

manchan
MANCHAN
Manchan

### 4.Finding Length of a String
Use the built-in function len() to find out how many characters are in a string (including spaces).

In [18]:
Name="Manchan Rana Magar"
print(len(Name))

18

###  5.Split
The .split() method breaks a string into a list of smaller strings, usually splitting at spaces.

In [20]:
Name="Manchan Rana Magar"
word=Name.split()
print(word)

['Manchan', 'Rana', 'Magar']

### 6.Strip
The .strip() method removes any extra whitespace (spaces, tabs, newlines) from the start and end of a string.

In [26]:
Name="  Manchan  "
print(Name.strip())

Manchan

In [24]:
text = "   Hello World!   "
print(text.strip())  # Output: Hello World!

Hello World!

### 7. .replace(old, new)
What it does:
Replaces part of a string (the old value) with a new value

In [39]:
Word="This is Graphics Designing"
newword= Word.replace("Graphics","Data").replace("Designing","Science")
print(newword)

This is Data Science